# Configuración de seguridad de Django
SECRET_KEY=tu_secret_key_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Clave de API de Google Maps (para la interfaz interactiva satelital)
GOOGLE_MAPS_API_KEY=tu_api_key_de_google_maps_aqui
